@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --parchment: #f0ead2ff;
    --tea-green: #919678;
    --olivine: #5c6641;
    --olive-green: #7c8a61;
    --umber: #6c584cff;
}



body {
    background-color: var(--parchment);
    border: 0;
    margin: 0;
    
}
.hero-section {
    font-family: baskervville sc;
    font-size: 20px;
    color: var(--umber);
    /* border-bottom: var(--olivine) .5rem solid; */
    margin: 0;
    border-bottom: .5rem solid transparent;
    border-image: linear-gradient(45deg, var(--olivine),var(--parchment));
    border-image-slice: 1;
    padding-left: 2rem;
}
header {
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
}
.nav-wrapper {
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}
ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}
a {
    display:flex;
    font-family: baskervville sc;
    font-size: 20px;
    color: var(--umber);
    text-decoration: none;
    padding: 2px;
}
li {
    margin-inline: 1rem;
}
.navlink :hover {
    color: orange;
    
}
.burger {
    border: none;
    color: var(--parchment);
    background-color: var(--umber);
    width: 25px;
    height: 25px;
} 
h1 {
    color: var(--olive-green);
    font-family: baskervville sc;
    margin-left: 1.5rem;
}

.projects-section {
    padding: .5rem;
}
.projects-section h3 {
    font-family: baskervville sc;
    text-align: center;
    font-size: 1.5rem;
    color: var(--umber);

}

.card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.card h4 {
    font-family: poppins;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    color: var(--olive-green);

}
.card img {
    width: 100%;
}
.card a {
    border: none;
    background-color: var(--umber);
    border-radius: 10px;
    color: var(--parchment);
    padding: .5rem;
    font-family: poppins;
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 2em;
}
.card p {
    font-family: poppins;
    font-size: 14px;
    font-weight: 300;
    color: var(--umber);
    height: fit-content;
}
 footer {
    text-align: center;
    font-family: baskervville sc;
    font-size: 20px;
    color: var(--umber);
    margin: 0;
    border-top: .5rem solid transparent;
    border-image: linear-gradient(45deg, var(--olivine),var(--parchment));
    border-image-slice: 1;
    

}
.contact-section {
    text-align: center;
    font-family: poppins;
    font-weight: 200;
    font-size: 20px;
    color: var(--parchment);
    margin: 0;
    background-color: var(--olivine);
    border-top: .5rem solid transparent;
    border-image: linear-gradient(45deg, var(--olivine),var(--parchment));
    border-image-slice: 1;
    padding-bottom: 1rem;
}
.contact {
    border: none;
    background-color: var(--parchment);
    border-radius: 10px;
    color: var(--umber);
    padding: .5rem;
    font-family: poppins;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-around;
    /* width: 30%; */
}

.navlink {
    list-style: none;
}

.navlink a i {
    color: var(--umber);
    text-decoration: none;
    font-size: 16px;
}

.burger {
    font-size: 16px;
    display: none;
}
.lets-go {
    text-align: center;
    border-top: solid 8px var(--olivine) ;
}
.js-btn {
    padding: 50px; 
    border: none;
    margin: 1rem;
    font-family: poppins;
    font-weight: 200;
    font-size: 18px;
    color:var(--parchment);
    background-color: var(--umber);
    border-radius: 10px;
}
/* .colors {
    padding: 50px; 
    border: none;
    margin: 1rem;
    font-family: poppins;
    font-weight: 200;
    font-size: 18px;
    color:var(--parchment);
    background-color: var(--umber);
    border-radius: 10px;
} */
.about {
    font-family: poppins;
    margin-left: 1rem;
}
.about-me {
    display: flex;
}
.about-page-content {
    display: flex;
}
.about-img {
    width:400px;
    height:400px;
    border: black solid 2px;
    padding: 5px;
    margin: 10px;
}
form {
    font-family: poppins;
    color: var(--umber);
    margin: 3rem;
    border: var(--tea-green) dashed 2px;
    padding: 2rem;
    text-align: left;

}

#myToggleButton {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  #myToggleButton.active {
    background-color: #007bff;
    color: white;
  }
  
  /* Adding transitions for a smoother visual effect */
  #myToggleButton {
    transition: background-color 0.3s ease;
  }

  .display-none {
    display: none;
  }
  /* #back-to-main-btn {
    border: none;
    color: var(--parchment);
    background-color: var(--umber);
    border: none;
    border-radius: 10px;
  }
   */
@media (max-width: 649px) {
    .burger {
        display: block;
       
    }
    .nav {
        display: none;
        margin: 0;
        background: var(--olive-green);
        position: absolute;
        top: 125px;
        width: 100%;
        flex-direction: column;
        padding: 0;
        transition: all 400ms;
        color: var(--parchment);
    }
    a {
        color: var(--parchment);
    }
    .navlink :hover  {
        color: orange;
    }
    ul {
        flex-direction: column;
        
    }
    .nav-active {
        display: block;
        right: 0;
    }
    .card-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }
    .about-page-content {
        display: grid;
        /* grid-template-columns: 1fr 1fr; */
    }
    .about-me {
        display: grid;
        
    }
    #about-page-img {
        display: flex;
    }
}
 @media ((min-width: 650px) and (max-width: 1075px))  {
    .card p {
        height: 260px;
    }
 }


